.typeWindows_e41dab {
    height: 30px;
    margin: 0;
    .winButton_f17fb6 {
        top: 0;
        width: 45px;
        height: 30px;
        &.winButtonClose__6396d:hover {
            background-color: #cd0f1f;
        }
    }
}