.typeWindows-2-g3UY {
    height: 30px;
    margin: 0;
}
.typeWindows-2-g3UY .winButton-3UMjdg {
    top: 0;
    width: 45px;
    height: 30px;
    margin-bottom: 0;
}
.typeWindows-2-g3UY .winButton-3UMjdg.winButtonClose-3Q8ZH5:hover {
    background-color: #cd0f1f;
}