.typeWindows-2-g3UY {
    height: 30px;
    margin: 0;
    .winButton-3UMjdg {
        top: 0;
        width: 45px;
        height: 30px;
        margin-bottom: 0;
        &.winButtonClose-3Q8ZH5:hover {
            background-color: #cd0f1f;
        }
    }
}
