:root {
    --bar-height: 80px;
    --bar-background: var(--background-tertiary);
}

.container_d1f8f5 {
    // || Sidebar
    .sidebar_e031be {
        margin-bottom: var(--bar-height);
        .container_debb33 {
            position: absolute;
            height: var(--bar-height);
            background-color: var(--bar-background);
        }
    }
    // || User Area
    .withTagAsButton_e22174, .withTagless__058f8 {
        max-width: 120px !important;
    }
    // || Chat
    .chat__52833 {
        background-color: var(--bar-background);
        .chatContent_f087cb {
            background-color: var(--background-primary);
        }
        .content__01e65 {
            background-color: var(--bar-background);
        }
        .homeContainer__73533  {
            background-color: var(--background-secondary-alt);
        }
        // || Text Area
        .form_d8a4a1 {
            margin: 0;
            padding-top: calc((var(--bar-height) - 44px) / 2);
            padding-bottom: calc((var(--bar-height) - 44px) / 2);
            background-color: var(--bar-background);
            &::before {
                content: none;
            }
            .channelTextArea_c2094b {
                margin: 0;
                background-color: transparent;
            }
        }
        // || Members
        .membersWrap__5ca6b {
            height: 100%;
            background-color: var(--bar-background);
            .members__573eb {
                margin-bottom: var(--bar-height);
            }
        }
    }
    .content__01e65 {
        background-color: var(--bar-background);
    }
    // || Misc Margin
    .container_bd15da,
    .container-36u7Lw,
    .applicationStore__444b9,
    .homeContainer__73533,
    .container-3wLKDe,
    .pageWrapper_c182d3,
    .searchResultsWrap__2e184 {
        margin-bottom: var(--bar-height);
    }
}
