:root {
    --bar-height: 80px;
    --bar-background: var(--background-tertiary);
}

.container_d1f8f5 .sidebar_e031be {
    margin-bottom: var(--bar-height);
}
.container_d1f8f5 .sidebar_e031be .container_debb33 {
    position: absolute;
    height: var(--bar-height);
    background-color: var(--bar-background);
}
.container_d1f8f5 .withTagAsButton_e22174, .container_d1f8f5 .withTagless__058f8 {
    max-width: 120px !important;
}
.container_d1f8f5 .chat__52833 {
    background-color: var(--bar-background);
}
.container_d1f8f5 .chat__52833 .chatContent_f087cb {
    background-color: var(--background-primary);
}
.container_d1f8f5 .chat__52833 .content__01e65 {
    background-color: var(--bar-background);
}
.container_d1f8f5 .chat__52833 .homeContainer__73533 {
    background-color: var(--background-secondary-alt);
}
.container_d1f8f5 .chat__52833 .form_d8a4a1 {
    margin: 0;
    padding-top: calc((var(--bar-height) - 44px) / 2);
    padding-bottom: calc((var(--bar-height) - 44px) / 2);
    background-color: var(--bar-background);
}
.container_d1f8f5 .chat__52833 .form_d8a4a1::before {
    content: none;
}
.container_d1f8f5 .chat__52833 .form_d8a4a1 .channelTextArea_c2094b {
    margin: 0;
    background-color: transparent;
}
.container_d1f8f5 .chat__52833 .membersWrap__5ca6b {
    height: 100%;
    background-color: var(--bar-background);
}
.container_d1f8f5 .chat__52833 .membersWrap__5ca6b .members__573eb {
    margin-bottom: var(--bar-height);
}
.container_d1f8f5 .content__01e65 {
    background-color: var(--bar-background);
}
.container_d1f8f5 .container_bd15da,
.container_d1f8f5 .container-36u7Lw,
.container_d1f8f5 .applicationStore__444b9,
.container_d1f8f5 .homeContainer__73533,
.container_d1f8f5 .container-3wLKDe,
.container_d1f8f5 .pageWrapper_c182d3,
.container_d1f8f5 .searchResultsWrap__2e184 {
    margin-bottom: var(--bar-height);
}